.content-info
  padding: 16px 0 16px 25px
  border-left: 4px solid #A0B1BB

  &__heading
    margin: 0 0 13px
    font-size: 16px

  &__content
    display: flex

  &__label
    flex-shrink: 0
    margin-right: 7px
    white-space: nowrap

  &__tags
    margin: 0 0 0 10px
