// PAGE-POPUPS :: START
.popup.mfp-with-anim.mfp-hide#attention
  .popup__head
    p.popup__head-title Обратите внимание!
  .popup__body
    p Все внесенные изменения будут потеряны.
    .popup__buttons
      a.cancel(href="#").js-close-modal Вернуть к редактированию
      a.btn.btn-primary(href="#") Сохранить и продолжить

.popup.mfp-with-anim.mfp-hide#client-already-registered
  .popup__head
    p.popup__head-title Клиент уже зарегистрирован в системе
  .popup__body
    p Данный клиент уже зарегистрирован в системе под ником
      span SEBEKON-1
    .popup__buttons
      a.cancel(href="#").js-close-modal Отменить
      a.btn.btn-primary(href="#") Создать проект для существующего клиента

// PAGE-POPUPS :: END
