// buttons
button
  -webkit-appearance: none
  border: 0
  box-shadow: none
  cursor: pointer
  &:focus
    outline: none

.btn
  padding: 12px 19px
  display: inline-block
  position: relative
  text-align: center
  cursor: pointer
  transition: all .25s $ease
  border-radius: 4px
  &:focus, &:active
    outline: none
  &--block
    display: block
    width: 100%

  &-primary
    color: white
    font-size: 14px
    background: $colorPrimary
    &:hover
      background: #2A87C7
    &[disabled]
      color: $colorLight
      background: $borderColor
      cursor: not-allowed
      &:hover
        color: $colorLight
        background: $borderColor

  &-outline
    color: $colorPrimary
    font-size: 14px
    padding-top: 9px
    padding-bottom: 9px
    border: 1px solid $colorPrimary
    background-color: transparent
    &:hover
      color: #2A87C7
      border-color: #2A87C7

    &[disabled]
      color: $colorLight
      border-color: $borderColor
      cursor: not-allowed
      &:hover
        color: $colorLight
        border-color: $borderColor

  &-padding
    padding-top: 14px
    padding-bottom: 14px

.btn-delete
  width: 16px
  height: 16px
  color: $colorIcon
  border: 0
  background-color: transparent

  &:hover
    color: $colorDanger
