// Pagenav
.pagenav
  .pagenav__list
    a.pagenav__link(href='#' title='') 1
    a.pagenav__link(href='#' title='') ...
    a.pagenav__link(href='#' title='') 10
    a.pagenav__link(href='#' title='') 11
    a.pagenav__link.pagenav__link--current(href='#' title='') 12
    a.pagenav__link(href='#' title='') 13
    a.pagenav__link(href='#' title='') 24
  //- a._next(href='#' title='Следующая страница')
