---
title: Вход
auth: true
---
extends shared/_layout
block content

  .page-main

    .main-body
      .main-content.main-content--centrify
        ._container.container
          ._inner

            include ../components/auth/_login
