---
title: Вход
login: false
---
extends shared/_layout
block content

  .page-main

    .main-body
      .main-content
        ._container.container
          ._inner

            include ../components/auth/_login
