---
title: Добавление клиента
auth: false
includePopups: true
---
extends shared/_layout
include ../components/mainHeader/_mainHeader
include ../components/mainFooter/_mainFooter

block content

  .page-main
    +mainHeader("Добавление клиента")

    form.main-body(action='/' js-validate-form data-type="add-client")
      .main-content(js-main-content-scroller)
        fieldset._fieldset
          ._fields
            ._container.container
              ._inner
                legend._legend Данные клиента

                .content-form._form
                  .ui-group
                    label Название организации
                    input.ui-input(type='text')

                  .ui-row
                    .ui-col.is-6
                      .ui-group
                        label Имя
                        input.ui-input(type='text' name='')

                    .ui-col.is-6
                      .ui-group
                        label Фамилия
                        input.ui-input(type='text' name='')

                  .ui-group
                    label Должность
                    input.ui-input(type='text')

                  .ui-group
                    label Email
                      i.required *
                    input.ui-input(type='email' required)

        fieldset._fieldset
          ._fields
            ._container.container
              ._inner
                legend._legend Информация о проекте

                .content-form._form
                  .ui-group
                    label Название проекта
                      i.required *
                    input.ui-input(type='text' name="projectName" required)

                  .ui-group
                    label Описание
                    textarea.ui-input(rows='6' name="projectDescription")

                  .ui-group
                    label Тип анкеты
                      i.required *
                    select.ui-input(js-select name="projectType" required)
                      option Выберите из списка
                      option(value='0') Тип 1
                      option(value='1') Тип 2
                      option(value='2') Тип 3
                      option(value='3') Тип 4
                      option(value='4') Тип 5

      +mainFooter("Сохранить")
