---
title: Вход
login: false
---
extends shared/_layout
block content
  
  .page-main.page-body__main

    .main-body._body
      .main-content._content
        ._container.container
          ._inner

            .content-guest._guest
              ._header
                ._logo
                  +svgMono('logo')
              
              ._body
                h1._heading Восстановление пароля

                p._caption Если вы забыли пароль, введите логин или электронную почту. Контрольная строка для смены пароля, а также ваши регистрационные данные, будут высланы вам по электронной почте.

                form._form(action='#' method='post')
                  ._ui-group.ui-group
                    label._label Логин или электронная почта
                    input.ui-input._input(type='email' name='')

                  button.btn.btn-primary Восстановить

              ._footer
                | Вспомнили ваш пароль? 
                a._link(href='sign-in.html' title='Авторизация') Авторизация
