---
title: Мои Анкеты
auth: false
---
extends shared/_layout
include ../components/mainHeader/_mainHeader
include ../components/projectCard/_projectCard

block content

  .page-main
    +mainHeader("Анкеты", 'forms-create', 3)


    .main-body
      .main-content.js-main-content-scroller
        ._container.container
          ._list
            -
              var cards = [
                {
                  name: "Анкетирование",
                  tags: '16 проектов',
                  caption: 'Пуантилизм, зародившийся в музыкальных микроформах начала ХХ столетия, нашел далекую историческую параллель в лице средневекового гокета.',
                  user: 'Админ',
                  visibility: 'public'
                },
                {
                  name: "Моя анкета",
                  tags: '15 проектов',
                  caption: '',
                  user: 'Иван',
                  visibility: 'private'
                },
              ]

            each x, index in cards
              +pollCard(x)

          include ../components/pagenav/_pagenav
