---
title: Создание анкеты
auth: false
---
extends shared/_layout
include ../components/mainHeader/_mainHeader
include ../components/mainFooter/_mainFooter

block content

  .page-main
    +mainHeader("Создание анкеты", 2, 2)

    form.main-body(action='/' method='post')
      .main-content(js-main-content-scroller)
        ._container.container
          ._inner

            .content-form._form
              .ui-group.-inline
                label._label Название
                  i.required *
                ._content
                  input.ui-input._input(type='text')

              .ui-group.-inline
                label._label Описание
                ._content
                  textarea.ui-input._input(rows='6')

              .ui-group.-inline
                label._label Тип анкеты
                  i.required *
                ._content
                  .ui-radio._item
                    input#private(type='radio' name='type' checked)
                    label(for='private')
                      span Приватная (доступная только вашей организации)

                  .ui-radio._item
                    input#public(type='radio' name='type')
                    label(for='public')
                      span Публичная (доступна всем)

      +mainFooter("К следующему шагу")
