---
title: Вопросы и ответы
auth: false
---
extends shared/_layout
include ../components/mainHeader/_mainHeader
include ../components/mainFooter/_mainFooter

block content

  .page-main
    +mainHeader("Создание анкеты", 'forms', 2)

    form.main-body(action='/' method='post')
      .main-content.js-main-content-scroller
        ._container.container
          .project-questions
            .__sidebar
              .__sidebar-toggle
                .__sidebar-input
                  .ui-group.-inline
                    label(for="test_1") Показывать варианты ответов
                    ._content
                      label.ui-toggle._ui-toggle
                        input._input(type='checkbox' name='test_1')#test_1
                        span._handle

                .__sidebar-input
                  .ui-group.-inline
                    label(for="test_2") Показывать созданные задачи
                    ._content
                      label.ui-toggle._ui-toggle
                        input._input(type='checkbox' name='test_2')#test_2
                        span._handle
              p.__sidebar-title Разработка интернет-магазина
              .__sidebar-item.main
                a.js-open-parent(href="#") Нужен ли вам маркетинг?
                .__sidebar-item
                  a.js-open-parent(href="#") Укажите общий бюджет на маркетинг
                  .__sidebar-item
                    a.js-open-parent(href="#") Требуется ли вам offline-маркетинг?
                    .__sidebar-item.last
                      a.js-open-parent(href="#") Нужны ли вам работы над сайтом?
                  .__sidebar-item
                    a.js-open-parent(href="#") Требуется ли вам интернет-маркетинг?
                    .__sidebar-item.last
                      a.js-open-parent(href="#") Нужны ли вам работы над сайтом?
                    .__sidebar-item.last.error
                      a.js-open-parent(href="#") Нужна ли работа с целевой аудиторией и мониторинг работы компании?
                        //- span.error(data-att="Добавьте ответ к этой связи")
                        span.error
                        span.hint Добавьте ответ к этой связи
                  .__sidebar-item.last
                    a.js-open-parent(href="#") Требуется ли вам комплексный маркетинг?
                .__sidebar-item
                  a.js-open-parent(href="#") Укажите желаемое время реализации
              .__sidebar-item.main
                a.js-open-parent(href="#") Нужны ли вам услуги дизайна?
              .__sidebar-item.main
                a.js-open-parent(href="#") Нужны ли вам услуги программирования?
            .form-questions__content
              .form-questions__head
                .form-questions__head-left
                  p.form-questions__title Требуется ли вам интернет-маркетинг?
                  p.form-questions__description Введите описание, если это необходимо
                .form-questions__head-right
                  a.form-questions__remove(href="#")
                    +svgMono('remove')
                    span Удалить связь
              .form-questions__role
                p Выберите роль:
                .form-questions__role-select
                  select.ui-input.js-select
                    option Дизайнер
                    option(value='0') Роль 1
                    option(value='1') Роль 1
                    option(value='2') Роль 1
                    option(value='3') Роль 1
                    option(value='4') Роль 1
                .ui-group.-inline
                  p Несколько ответов:
                  ._content
                    label.ui-toggle._ui-toggle
                      input._input(type='checkbox' name='test_11' checked)
                      span._handle
                .form-questions__role-right
                  .ui-group.-inline
                    p Несколько ответов:
                    ._content
                      label.ui-toggle._ui-toggle
                        input._input(type='checkbox' name='test_12')
                        span._handle
              .form-questions__items.js-sortable
                .form-questions__item
                  .form-questions__item-head
                    p.form-questions__answer ответ 1
                    .form-questions__row
                      .form-questions__item-title
                        .handle
                          +svgMono('lines')
                        | Требуется
                      .form-questions__head-right
                        a.form-questions__remove(href="#")
                          +svgMono('remove')
                          span Удалить связь
                  .form-questions__item-body
                    .form-questions__item-body-row
                      p.form-questions__item-body-title Задача 1
                      .form-questions__head-right
                        a.form-questions__remove(href="#")
                          +svgMono('remove')
                          span Удалить связь
                    .form-questions__item-body-grid
                      .form-questions__item-body-left
                        input.ui-input(type='text' name='login' placeholder="Название задачи")
                        select.ui-input.js-select
                          option Выберите роль
                          option(value='0') Роль 1
                          option(value='1') Роль 1
                          option(value='2') Роль 1
                          option(value='3') Роль 1
                          option(value='4') Роль 1
                      .form-questions__item-body-right
                        .ui-group
                          textarea.ui-input(placeholder="Комментарий к задаче")
                  .form-questions__item-body
                    .form-questions__item-body-row
                      p.form-questions__item-body-title Связь 1
                      .form-questions__head-right
                        a.form-questions__remove(href="#")
                          +svgMono('remove')
                          span Удалить связь
                    .form-questions__item-body-grid
                      input.ui-input(type='text' name='login' placeholder="Название задачи" value="Нужны ли вам работы над сайтом?")
                      a.btn.btn-outline(href="#") Перейти к связи
                    .form-questions__item-body-line
                    .form-questions__item-body-row
                      p.form-questions__item-body-title Связь 1
                      .form-questions__head-right
                        a.form-questions__remove(href="#")
                          +svgMono('remove')
                          span Удалить связь
                    .form-questions__item-body-grid
                      input.ui-input(type='text' name='login' placeholder="Название задачи" value="Нужны ли вам работы над сайтом?")
                      a.btn.btn-outline(href="#") Перейти к связи


                  .form-questions__item-bottom
                    a(href="#")
                      +svgMono('add-task')
                      | Добавить задачу
                    a(href="#")
                      +svgMono('add-conn')
                      | Добавить связь к ответу
                .form-questions__item
                  .form-questions__item-head
                    p.form-questions__answer ответ 2
                    .form-questions__row
                      .form-questions__item-title
                        .handle
                          +svgMono('lines')
                        | Не требуется
                      .form-questions__head-right
                        a.form-questions__remove(href="#")
                          +svgMono('remove')
                          span Удалить связь
                  .form-questions__item-bottom
                    a(href="#")
                      +svgMono('add-task')
                      | Добавить задачу
                    a(href="#")
                      +svgMono('add-conn')
                      | Добавить связь к ответу
                .form-questions__item
                  .form-questions__item-head
                    p.form-questions__answer ответ 3
                    .form-questions__row
                      .form-questions__item-title
                        .handle
                          +svgMono('lines')
                        | Введите ответ
                      .form-questions__head-right
                        a.form-questions__remove(href="#")
                          +svgMono('remove')
                          span Удалить связь
                  .form-questions__item-bottom
                    a(href="#")
                      +svgMono('add-task')
                      | Добавить задачу
                    a(href="#")
                      +svgMono('add-conn')
                      | Добавить связь к ответу
              .form-questions__add
                a(href="#")
                  +svgMono('plus')
                  | Добавить ответ







      +mainFooter("К следующему шагу", {
        url: 'form-passport.html',
        name: 'Вернуться к предидущему шагу'
      })
