---
title: Пасспорт
login: true
---
extends shared/_layout
include ../components/mainHeader/_mainHeader
include ../components/mainFooter/_mainFooter

block content

  .page-main.page-body__main
    +mainHeader("Создание анкеты", 2, 2)

    form.main-body._body(action='/' method='post')
      .main-content._content(js-main-content-scroller)
        ._container.container
          ._inner



      +mainFooter("К следующему шагу", {
        url: 'form-add.html',
        name: 'Вернуться к шагу «Общие сведения»'
      })
