---
title: Пасспорт
auth: false
---
extends shared/_layout
include ../components/mainHeader/_mainHeader
include ../components/mainFooter/_mainFooter

block content

  .page-main
    +mainHeader("Создание анкеты", 'forms', 2)

    form.main-body(action='/' method='post')
      .main-content.js-main-content-scroller
        ._container.container
          ._inner



      +mainFooter("К следующему шагу", {
        url: 'form-add.html',
        name: 'Вернуться к шагу «Общие сведения»'
      })
