---
title: Создание анкеты
auth: false
---
extends shared/_layout
include ../components/mainHeader/_mainHeader
include ../components/mainFooter/_mainFooter

block content

  .page-main
    +mainHeader("Создание анкеты", 'forms', 2)

    form.main-body(action='/' js-validate-form)
      .main-content(js-main-content-scroller)
        ._container.container
          ._inner

            .content-form._form
              .ui-group.-inline
                label(for="required") Название
                  i.required *
                ._content
                  input.ui-input(type='text' name="name" required)

              .ui-group.-inline
                label(for="description") Описание
                ._content
                  textarea.ui-input(rows='6' name="description" js-autosize )

              .ui-group.-inline
                label Тип анкеты
                  i.required *
                ._content
                  .ui-radio._item
                    input#private(type='radio' name='type' checked required)
                    label(for='private')
                      span Приватная (доступная только вашей организации)

                  .ui-radio._item
                    input#public(type='radio' name='type' required)
                    label(for='public')
                      span Публичная (доступна всем)

      +mainFooter("К следующему шагу")
