---
title: Homepage title
outClass: homepage
auth: false
---
extends shared/_layout
block content

  .page-main
    .main-body
      .main-content
        .main-content__container.container
          .main-content__inner

            include ../components/contentIntro/_intro
