---
title: Homepage title
outClass: homepage
login: true
---
extends shared/_layout
block content
  
  .page-main.page-body__main
    .main-body._body
      .main-content._content
        ._container.container
          ._inner

            