---
title: Homepage title
outClass: homepage
login: true
---
extends shared/_layout
block content

  .page-main.page-body__main
    .main-body.page-main__body
      .main-content.main-body__content
        .main-content__container.container
          .main-content__inner

            include ../components/contentIntro/_intro
