---
title: Создание проекта
auth: false
---
extends shared/_layout
include ../components/mainHeader/_mainHeader
include ../components/mainFooter/_mainFooter

block content

  .page-main
    +mainHeader("Создание проекта", 'projects', 1)

    form.main-body(action='/' js-validate-form)
      .main-content(js-main-content-scroller)
        ._container.container
          ._inner

            .content-form._form
              .ui-group.-inline
                label(for="name") Название
                  i.required *
                ._content
                  input.ui-input(type='text' name="name" required)

              .ui-group.-inline
                label(for="description") Описание
                ._content
                  textarea.ui-input(rows='6' name="description")

              .ui-group.-inline
                label(for="type") Тип анкеты
                  i.required *
                ._content
                  select.ui-input(js-select name="type" required)
                    option(value='') Выберите из списка
                    option(value='0') Тип 1
                    option(value='1') Тип 2
                    option(value='2') Тип 3
                    option(value='3') Тип 4
                    option(value='4') Тип 5

      +mainFooter("К следующему шагу")
