---
title: Комментарии
login: true
---
extends shared/_layout
include ../components/mainHeader/_mainHeader
include ../components/mainFooter/_mainFooter

block content

  .page-main
    +mainHeader("Создание проекта", true, 1)

    form.main-body(action='/' method='post')
      .main-content(js-main-content-scroller)
        ._container.container

          .content-comments._comments
            ._list

              // start comment-card
              .comment-card._comment-card
                ._header
                  ._title Алексей Чурков
                  span._label Спортмастер
                p._caption Если выстроить в ряд случаи инверсий у Державина, то генеративная поэтика вращает абстракционизм.
                span._date 15.04.2019, 12:12
              // end comment-card

              // start comment-card
              .comment-card._comment-card
                ._header
                  ._title Алевтина Китова
                  span._label YAMI YAMI
                p._caption Диалектический характер неумеренно отталкивает апериодический угол курса.
                span._date 15.04.2019, 12:12
              // end comment-card

              // start comment-card
              .comment-card._comment-card
                ._header
                  ._title Алексей Чурков
                  span._label Спортмастер
                p._caption Если выстроить в ряд случаи инверсий у Державина, то генеративная поэтика вращает абстракционизм.
                span._date 15.04.2019, 12:12
              // end comment-card

              // start comment-card
              .comment-card._comment-card
                ._header
                  ._title Алевтина Китова
                  span._label YAMI YAMI
                p._caption Диалектический характер неумеренно отталкивает апериодический угол курса.
                span._date 15.04.2019, 12:12
              // end comment-card

            ._add
              form._form(action='#' method='post')
                .ui-group
                    textarea.ui-input._input(rows='6' name='' placeholder='Напишите свой комментарий...')

                button.btn.btn-outline Отправить


      +mainFooter("К следующему шагу", {
        url: 'project-tasks.html',
        name: 'Вернуться к шагу «Задачи»'
      })
