---
title: Интернет-магазин Спортмастер
auth: false
---
extends shared/_layout
include ../components/mainHeader/_mainHeader
include ../components/mainFooter/_mainFooter

block content

  .page-main
    +mainHeader("Интернет-магазин Спортмастер", 'projects', 1)

    form.main-body(action='/' js-validate-form)
      .main-content(js-main-content-scroller)
        ._container.container
          ._inner

            .content-form._form
              .ui-group.-inline
                label(for="test_1") Строка
                input.ui-input(type='text' name="test_1")

              .ui-group.-inline
                label(for="test_2") Число
                .ui-counter(js-ui-counter)
                  button._btn(type='button' data-type="minus")
                    +svgMono("minus")
                  input._input(type='text' value='15' min="1" max="99" name="test_2")
                  button._btn(type='button' data-type="plus")
                    +svgMono("plus-simple")

              .ui-group.-inline
                label(for="test_3") Список
                select.ui-input(js-select name="test_3")
                  option Выберите из списка
                  option(value='0') Тип 1
                  option(value='1') Тип 2
                  option(value='2') Тип 3
                  option(value='3') Тип 4
                  option(value='4') Тип 5

              .ui-group.-inline
                label(for="test_4") Да/Нет
                ._content
                  label.ui-toggle._ui-toggle
                    input._input(type='checkbox' name='test_4' checked)
                    span._handle

      +mainFooter("К следующему шагу")
