---
title: Создание проекта
auth: false
---
extends shared/_layout
include ../components/mainHeader/_mainHeader
include ../components/mainFooter/_mainFooter

block content

  .page-main
    +mainHeader("Создание проекта", 'projects', 1)

    form.main-body(action='/' method='post')
      .main-content(js-main-content-scroller)
        ._container.container
          ._inner

            .content-form._form
              .ui-group.-inline
                label._label Название
                  i.required *
                ._content
                  input.ui-input._input(type='text')

              .ui-group.-inline
                label._label Описание
                ._content
                  textarea.ui-input._input(rows='6')

              .ui-group.-inline
                label._label Тип анкеты
                  i.required *
                ._content
                  select.ui-input._input(js-select)
                    option Выберите из списка
                    option(value='0') Тип 1
                    option(value='1') Тип 2
                    option(value='2') Тип 3
                    option(value='3') Тип 4
                    option(value='4') Тип 5

      +mainFooter("К следующему шагу")
