---
title: Проекты
login: true
---
extends shared/_layout
block content
  
  .page-main.page-body__main
    .main-header._header
      ._container.container

        ._info
          h1._heading Проекты

          ._actions
    
    form.main-body._body(action='/' method='post')
      .main-content._content
        ._container.container
          ._inner

            
