---
title: Вопросы и ответы
login: true
---
extends shared/_layout
include ../components/mainHeader/_mainHeader
include ../components/mainFooter/_mainFooter

block content

  .page-main.page-body__main
    +mainHeader("Создание проекта", true, 1)

    form.main-body._body(action='/' method='post')
      .main-content._content
        ._container.container
          ._inner


      +mainFooter("К следующему шагу", {
        url: 'project-roles.html',
        name: 'Вернуться к шагу «Сотрудники»'
      })
