---
title: Интернет-магазин Спортмастер
login: true
---
extends shared/_layout
include ../components/mainHeader/_mainHeader
include ../components/mainFooter/_mainFooter

block content

  .page-main.page-body__main
    +mainHeader("Интернет-магазин Спортмастер", true, 1)

    form.main-body._body(action='/' method='post')
      .main-content._content
        ._container.container
          ._inner

            .content-form._form
              .ui-group.-inline
                label._label Строка
                input.ui-input._input(type='text')

              .ui-group.-inline
                label._label Число
                .ui-counter
                  button._btn(type='button') -
                  input._input(type='text' value='15')
                  button._btn(type='button') +

              .ui-group.-inline
                label._label Список
                select.ui-input._input(js-select)
                  option Выберите из списка
                  option(value='0') Тип 1
                  option(value='1') Тип 2
                  option(value='2') Тип 3
                  option(value='3') Тип 4
                  option(value='4') Тип 5

              .ui-group.-inline
                label._label Да/Нет
                ._content
                  label.ui-toggle._ui-toggle
                    input._input(type='checkbox' name='' checked)
                    span._handle

      +mainFooter("К следующему шагу")
