---
title: Проекты
auth: false
---
extends shared/_layout
include ../components/mainHeader/_mainHeader
include ../components/mainFooter/_mainFooter
include ../components/projectCard/_projectCard

block content

  .page-main
    +mainHeader("Проекты", 'projects-create', false, true)

    .main-body
      .main-content(js-main-content-scroller)
        ._container.container
          ._list
            -
              var cards = [
                {
                  name: "Проектирование интерфейса личного кабинета",
                  caption: 'Пуантилизм, зародившийся в музыкальных микроформах начала ХХ столетия, нашел далекую историческую параллель в лице средневекового гокета.',
                  company: 'Азбука Вкуса',
                  access: 'full',
                  progress: 1,
                  date: '21.03.2019, 16:15'
                },
                {
                  name: "Создание брендбука",
                  caption: '',
                  company: 'Спортмастер',
                  access: 'limited',
                  progress: 4,
                  date: '18.03.2019, 15:36'
                },
                {
                  name: "Концепция сайта для тендера",
                  caption: '',
                  company: 'YAMI YAMI',
                  access: 'full',
                  progress: 2,
                  date: '16.03.2019, 10:02'
                },
                {
                  name: "Подключение к CRM-системе Tillypad",
                  caption: 'Панладовая система регрессийно символизирует доиндустриальный тип политической культуры.',
                  company: 'Азбука Вкуса',
                  access: 'limited',
                  progress: 1,
                  date: '14.03.2019, 16:15'
                }
              ]

            each x, index in cards
              +projectCard(x)

          include ../components/pagenav/_pagenav
