---
title: Сотрудники
auth: false
---
extends shared/_layout
include ../components/mainHeader/_mainHeader
include ../components/mainFooter/_mainFooter
include ../components/tile/_tile

block content

  .page-main
    +mainHeader("Интернет-магазин Спортмастер", 'projects', 1)

    form.main-body(action='/' method='post')
      .main-content.js-main-content-scroller
        ._container.container
          ._inner

            .content-info._info
              h2._heading Не всем ролям назначены сотрудники
              ._content
                span Осталось распределить:
                ul.tags._tags
                  li._item Коммерческий директор
                  li._item Проект-менеджер

            .content-grid._grid
              ._inner
                ._column
                  .tile
                    button.btn-delete.tile__btn-delete.js-tooltip(data-tippy-placement="top" data-tippy-content="Удалить" type="button" title="Удалить")
                      +svgMono("delete")

                    //- h3.tile__heading Дизайнер 1
                    .tile__select
                      select.js-select-chosen
                        option(value='0' disabled) Выберите роль
                        option(value='Программист') Программист
                        option(value="Дизайнер" selected) Дизайнер
                        option(value='Коммерческий директор') Коммерческий директор
                        option(value='Проект-менеджер') Проект-менеджер
                    .tile__input
                      input(type="text" name="" placeholder="Введите имя сотрудника" value="Евгений Гришковец")

                ._column
                  .tile
                    button.btn-delete.tile__btn-delete.js-tooltip(data-tippy-placement="top" data-tippy-content="Удалить" type="button" title="Удалить")
                      +svgMono("delete")
                    .tile__select
                      select.js-select-chosen
                        option(value='0' disabled) Выберите роль
                        option(value='Программист' selected) Программист
                        option(value="Дизайнер") Дизайнер
                        option(value='Коммерческий директор') Коммерческий директор
                        option(value='Проект-менеджер') Проект-менеджер
                    .tile__input
                      input(type="text" name="" placeholder="Введите имя сотрудника" value="")

                ._column
                  .tile
                    button.btn-delete.tile__btn-delete.js-tooltip(data-tippy-placement="top" data-tippy-content="Удалить" type="button" title="Удалить")
                      +svgMono("delete")

                    //- h3.tile__heading Дизайнер 2
                    .tile__select
                      select.js-select-chosen
                        option(value='0' disabled selected) Выберите роль
                        option(value='Программист') Программист
                        option(value="Дизайнер") Дизайнер
                        option(value='Коммерческий директор') Коммерческий директор
                        option(value='Проект-менеджер') Проект-менеджер
                    .tile__input
                      input(type="text" name="" placeholder="Введите имя сотрудника" value="Евгений Гришковец")

                  //- +tileCard({
                  //-   heading: 'Дизайнер',
                  //-   caption: 'Евгений Гришковец'
                  //- })

                //- ._column
                //-   +tileCard({
                //-     heading: 'Программист',
                //-     caption: 'asd'
                //-   })

                //- ._column
                //-   +tileCard({
                //-     heading: 'Выберите роль',
                //-     caption: ''
                //-   })

                ._column
                  .tile.-add._tile Добавить нового сотрудника


      +mainFooter("К следующему шагу", {
        url: 'project-passport.html',
        name: 'Вернуться к шагу «Паспорт»'
      })
