---
title: Права
auth: false
---
extends shared/_layout
include ../components/mainHeader/_mainHeader
include ../components/mainFooter/_mainFooter
include ../components/tile/_tile

block content

  .page-main
    +mainHeader("Интернет-магазин Спортмастер", 'projects', 1)

    form.main-body(action='/' method='post')
      .main-content.js-main-content-scroller
        ._container.container
          ._inner

            .content-grid._grid
              ._inner
                ._column
                  .tile.--access
                    button.btn-delete.tile__btn-delete.js-tooltip(data-tippy-placement="top" data-tippy-content="Удалить" type="button" title="Удалить")
                      +svgMono("delete")

                    h3.tile__heading Андрей Логвинов
                    .tile__select-row
                      p Доступ:
                      select.js-select-chosen
                        option(value='Редактирование') Редактирование
                        option(value='Чтение' selected) Чтение
                        option(value='Все') Все

                ._column
                  .tile.--access
                    button.btn-delete.tile__btn-delete.js-tooltip(data-tippy-placement="top" data-tippy-content="Удалить" type="button" title="Удалить")
                      +svgMono("delete")
                    h3.tile__heading Константин Константинопольский
                    .tile__select-row
                      p Доступ:
                      select.js-select-chosen
                        option(value='Редактирование' selected) Редактирование
                        option(value='Чтение') Чтение
                        option(value='Все') Все

                //- ._column
                //-   +tileCard({
                //-     heading: 'Андрей Логвинов',
                //-     access: 'Редактирование'
                //-   })

                //- ._column
                //-   +tileCard({
                //-     heading: 'Константин Константинопольский',
                //-     access: 'Чтение'
                //-   })

                ._column
                  .tile.-add._tile Добавить нового пользователя


      +mainFooter("Сохранить", {
        url: 'project-comments.html',
        name: 'Вернуться к шагу «Комментарии»'
      })
