---
title: Создание проекта
login: true
---
extends shared/_layout
include ../components/mainHeader/_mainHeader
include ../components/mainFooter/_mainFooter

block content

  .page-main.page-body__main
    -
      var menu = [
        {url: 'project-add.html', name: 'О проекте', active: true},
        {url: 'project-passport.html', name: 'Паспорт', active: true},
        {url: 'project-roles.html', name: 'Сотрудники', active: true},
        {url: 'project-questions.html', name: 'Вопросы и ответы', active: true},
        {url: 'project-tasks.html', name: 'Задачи', active: true},
        {url: 'project-comments.html', name: 'Комментарии', active: true},
        {url: 'project-access.html', name: 'Права', active: true},
      ]

    +mainHeader("Создание проекта", true, menu)

    form.main-body._body(action='/' method='post')
      .main-content._content
        ._container.container
          ._inner

            .content-form._form
              .ui-group.-inline
                label._label Название
                  i.required *
                ._content
                  input.ui-input._input(type='text')

              .ui-group.-inline
                label._label Описание
                ._content
                  textarea.ui-input._input(rows='6')

              .ui-group.-inline
                label._label Тип анкеты
                  i.required *
                ._content
                  select.ui-input._input(js-select)
                    option Выберите из списка
                    option(value='0') Тип 1
                    option(value='1') Тип 2
                    option(value='2') Тип 3
                    option(value='3') Тип 4
                    option(value='4') Тип 5

      +mainFooter("К следующему шагу")
