---
title: Сотрудники
auth: false
---
extends shared/_layout
include ../components/mainHeader/_mainHeader
include ../components/mainFooter/_mainFooter

block content

  .page-main
    +mainHeader("Интернет-магазин Спортмастер", true, 1)

    form.main-body(action='/' method='post')
      .main-content(js-main-content-scroller)
        ._container.container
          ._inner

            .content-info._info
              h2._heading Не всем ролям назначены сотрудники
              ._content
                span._label Осталось распределить:
                ul.tags._tags
                  li._item Коммерческий директор
                  li._item Проект-менеджер

            .content-grid._grid
              ._inner
                ._column
                  .tile._tile
                    button.btn-delete._btn-delete(type='button' title='Удалить')
                      +svgMono('delete')
                    h3._heading Дизайнер
                    p._caption Евгений Гришковец

                ._column
                  .tile._tile
                    button.btn-delete._btn-delete(type='button' title='Удалить')
                      +svgMono('delete')
                    h3._heading Программист
                    p._caption Введите имя сотрудника

                ._column
                  .tile._tile
                    button.btn-delete._btn-delete(type='button' title='Удалить')
                      +svgMono('delete')
                    h3._heading Выберите роль
                    p._caption Введите имя сотрудника

                ._column
                  .tile.-add._tile Добавить нового сотрудника


      +mainFooter("К следующему шагу", {
        url: 'project-passport.html',
        name: 'Вернуться к шагу «Паспорт»'
      })
