---
title: Комментарии
login: true
---
extends shared/_layout
block content
  
  .page-main.page-body__main
    .main-header._header
      ._container.container

        ._info
          h1._heading Интернет-магазин Спортмастер

          ._actions
            a._link(href='projects.html' title='Вернуться к списку проектов')
              i.ico.ico-mono-chevron-left
              | Вернуться к списку проектов
      
        ul.primary-menu._primary-menu
          li._item
            a._link(href='project-add.html' title='О проекте') О проекте
          li._item
            a._link(href='project-passport.html' title='Паспорт') Паспорт
          li._item
            a._link(href='project-roles.html' title='Сотрудники') Сотрудники
          li._item
            a._link(href='project-questions.html' title='Вопросы и ответы') Вопросы и ответы
          li._item
            a._link(href='project-tasks.html' title='Задачи') Задачи
          li._item
            a._link.is-active(href='project-comments.html' title='Комментарии') Комментарии
          li._item
            a._link(href='project-access.html' title='Права') Права
    
    form.main-body._body(action='/' method='post')
      .main-content._content
        ._container.container
          ._inner

            

      .main-footer._footer
        ._container.container
          button.btn.btn-primary._btn К следующему шагу
