---
title: Права
auth: false
---
extends shared/_layout
include ../components/mainHeader/_mainHeader
include ../components/mainFooter/_mainFooter
include ../components/tile/_tile

block content

  .page-main
    +mainHeader("Интернет-магазин Спортмастер", 'projects', 1)

    form.main-body(action='/' method='post')
      .main-content.js-main-content-scroller
        ._container.container
          ._inner

            .content-grid._grid
              ._inner
                ._column
                  +tileCard({
                    heading: 'Андрей Логвинов',
                    access: 'Редактирование'
                  })

                ._column
                  +tileCard({
                    heading: 'Константин Константинопольский',
                    access: 'Чтение'
                  })

                ._column
                  .tile.-add._tile Добавить нового пользователя


      +mainFooter("Сохранить", {
        url: 'project-comments.html',
        name: 'Вернуться к шагу «Комментарии»'
      })
