---
title: Права
login: true
---
extends shared/_layout
include ../components/mainHeader/_mainHeader
include ../components/mainFooter/_mainFooter

block content

  .page-main
    +mainHeader("Создание проекта", true, 1)

    form.main-body(action='/' method='post')
      .main-content(js-main-content-scroller)
        ._container.container
          ._inner

            .content-grid._grid
              ._inner
                ._column
                  .tile._tile
                    button.btn-delete._btn-delete(type='button' title='Удалить')
                      +svgMono('delete')
                    h3._heading Андрей Логвинов
                    ._select
                      span._label Доступ:
                      span._selected Редактирование

                ._column
                  .tile._tile
                    button.btn-delete._btn-delete(type='button' title='Удалить')
                      +svgMono('delete')
                    h3._heading Константин Константинопольский
                    ._select
                      span._label Доступ:
                      span._selected Чтение

                ._column
                  .tile.-add._tile Добавить нового пользователя


      +mainFooter("Сохранить", {
        url: 'project-comments.html',
        name: 'Вернуться к шагу «Комментарии»'
      })
