---
title: Регистрация
login: false
---
extends shared/_layout
block content
  
  .page-main.page-body__main

    .main-body._body
      .main-content._content
        ._container.container
          ._inner

            .content-guest._guest
              ._header
                ._logo
                  +svgMono('logo')
              
              ._body
                h1._heading Регистрация

                form._form(action='#' method='post')
                  .ui-group._ui-group
                    label._label Название организации
                    input.ui-input._input(type='text' name='')
                  
                  .ui-row._ui-row
                    ._ui-col.ui-col.is-6
                      .ui-group._ui-group
                        label._label Имя
                        input.ui-input._input(type='text' name='')

                    ._ui-col.ui-col.is-6
                      .ui-group._ui-group
                        label._label Фамилия
                        input.ui-input._input(type='text' name='')
                  
                  .ui-group._ui-group
                    label._label Должность
                    input.ui-input._input(type='text' name='')
                  
                  .ui-group._ui-group
                    label._label Электронная почта 
                      i.required *
                    input.ui-input._input(type='email' name='')
                  
                  .ui-group._ui-group
                    label._label Пароль 
                      i.required *
                    input.ui-input._input(type='password' name='')
                  
                  .ui-group._ui-group
                    label._label Подтвердите пароль 
                      i.required *
                    input.ui-input._input(type='password' name='')
                  
                  button.btn.btn-primary Зарегистрироваться

              ._footer
                | Уже регистрировались? 
                a._link(href='sign-in.html' title='') Авторизация
