---
title: Вход
login: false
---
extends shared/_layout
block content
  
  .page-main.page-body__main

    .main-body._body
      .main-content._content
        ._container.container
          ._inner

            .content-guest._guest
              ._header
                ._logo
                  +svgMono('logo')
              
              ._body
                h1._heading Вход

                form._form(action='#' method='post')
                  ._ui-group.ui-group
                    label._label Логин
                    input.ui-input._input(type='text' name='')
                  
                  ._ui-group.ui-group
                    label._label Пароль
                    input.ui-input._input(type='password' name='')
                  
                  ._ui-row.ui-row
                    ._ui-col.ui-col
                      .ui-checkbox
                        input#remember(type='checkbox' name='')
                        label(for='remember')
                          span Запомнить меня на этом компьютере

                    ._ui-col.ui-col.is-auto
                      a._forgot(href='forgot.html' title='Забыли пароль?') Забыли пароль?
                  
                  button.btn.btn-primary Войти

              ._footer
                | Еще нет аккаунта? 
                a._link(href='sign-up.html' title='Регистрация') Регистрация
