include ../utilities/_mixins
doctype html
html(lang="en")
  head
    include _head

  body
    // place where pjax bindings happen's
    .page#barba-wrapper
      if login
        block header
          include ../../components/header/_header

      // what should be changed with every pjax
      .page-body._body(class=outClass)
        block content

        if login
          block footer
            include ../../components/footer/_footer

      block scripts
        include _scripts
