include ../utilities/_mixins
doctype html
html(lang="ru")
  head
    include _head

  body
    // place where pjax bindings happen's
    #barba-wrapper
      // what should be changed with every pjax
      .page-body(class=outClass)
        if !auth
          block header
            include ../../components/header/_header

        block content

        if !auth
          block footer
            include ../../components/footer/_footer

        if includePopups
          block popups
            include ../../components/popups/_popups

      block scripts
        include _scripts
