mixin mainHeader(title, hasReturn,  menuType, filters)
  .main-header(js-min-header-onscroll)
    .main-header__container.container

      .main-header__info
        h1.main-header__heading= title

        .main-header__actions
          if hasReturn === 'projects'
            a.main-header__link(href='projects.html' title='Вернуться к списку проектов')
              +svgMono("arrow-left")
              span Вернуться к списку проектов
          if hasReturn === 'forms'
            a.main-header__link(href='forms.html' title='Вернуться к списку анкет')
              +svgMono("arrow-left")
              span Вернуться к списку анкет
      -
        var menu = [
          [
            {url: 'project-add.html', name: 'О проекте'},
            {url: 'project-passport.html', name: 'Паспорт'},
            {url: 'project-roles.html', name: 'Сотрудники'},
            {url: 'project-questions.html', name: 'Вопросы и ответы'},
            {url: 'project-tasks.html', name: 'Задачи'},
            {url: 'project-comments.html', name: 'Комментарии'},
            {url: 'project-access.html', name: 'Права'},
          ],
          [
            {url: 'form-add.html', name: 'Общие сведения'},
            {url: 'form-passport.html', name: 'Паспорт'},
            {url: 'form-roles.html', name: 'Роли'},
            {url: 'form-questions.html', name: 'Вопросы и ответы'}
          ],
          [
            {url: 'forms.html', name: 'Все анкеты', count: 30},
            {url: 'forms-my.html', name: 'Мои анкеты', count: 25},
            {url: 'forms-public.html', name: 'Публичные анкеты', count: 5}
          ]
        ]

        var targetMenu = menu[menuType - 1]

      if menuType && targetMenu && targetMenu.length > 0
        ul.primary-menu.main-header__primary-menu
          each x, index in targetMenu
            li.primary-menu__item
              a.primary-menu__link(href=x.url title=x.name)= x.name
                if x.count
                  span.primary-menu__count= x.count

      if filters
        .main-header__filters
          i.main-header__filter
            span Клиент
            span ...
          i.main-header__filter
            span Анкета
            span ...
          i.main-header__filter
            span Доступ
            span ...
