// PAGE-HEADER :: START
.page-header.page__header
  ._container.container

    a._logo(href='homepage.html' title='')
      +svgMono('logo')

    ul.primary-menu._primary-menu
      li._item
        a._link.is-active(href='homepage.html' title='Общие сведения') Рабочий стол
      li._item
        a._link(href='projects.html' title='Проекты') Проекты
      li._item
        a._link(href='forms.html' title='Анкеты') Анкеты

    ._actions
      a._action(href='client-add.html' title='' js-tooltip data-tippy-placement="bottom" data-tippy-content="Добавить клиента")
        +svgMono('user-add')
      a._action(href='auth-login.html' title='' js-tooltip data-tippy-placement="bottom" data-tippy-content="Выйти")
        +svgMono('logout')
// PAGE-HEADER :: END
