/* HEADER
.page-header
  color: $colorWhite
  background: $colorPrimary
  will-change: transform
  backface-visibility: hidden
  transform-style: preserve-3d
  
  &__container
    display: flex
    padding-right: 0
    padding-left: 0
    height: 70px
  
  &__logo
    display: flex
    align-items: center
    justify-content: center
    flex: 0 0 142px
    max-width: 142px
    border-right: 1px solid rgba($colorWhite, 0.15)

    .ico-mono-logo
      width: 82px
      height: 30px