.form-questions
  &__content
    padding: 40px 0 30px 30px
    width: 100%
  &__head
    display: flex
    &-left
      padding-right: 20px
    &-right
      margin-left: auto
      font-size: 0
  &__title
    font-size: 16px
    font-weight: 700
    margin: 0
  &__description
    color: $colorLight
    margin: 2px 0 0 0
  &__remove
    font-size: 16px
    color: $colorIcon
    transition: all 0.25s $ease
    padding: 0
    line-height: 1
    height: 16px
    position: relative
    display: inline-block
    &:hover
      color: #000
      span
        opacity: 1
    span
      height: auto
      top: -40px
      display: inline-block
      position: absolute
      right: -5px
      background: $colorBg
      color: $fontColor
      padding: 10px
      white-space: nowrap
      font-size: 12px
      box-shadow: 0 0 5px rgba(#0B1C2D, 0.15)
      transition: all 0.25s $ease
      opacity: 0
      &:before
        position: absolute
        width: 8px
        height: 8px
        display: block
        content: ''
        bottom: -4px
        transform: rotate(45deg)
        right: 8px
        background: $colorBg
        box-shadow: 0 0 5px rgba(#0B1C2D, 0.15)
      &:after
        width: 100%
        background: $colorBg
        height: 7px
        bottom: 0
        content: ''
        display: block
        position: absolute
        left: 0
  &__role
    display: flex
    align-items: center
    margin-top: 25px
    p
      margin: 0 15px 0 0
    &-right
      margin-left: auto
    .ui-group
      margin: 0
    .ui-toggle
      margin: 0
    .ui-group__content
      height: 20px
    &-select
      margin-right: 50px
      .selectric
        background: transparent
        border-color: transparent
      .selectric-wrapper
        width: auto
        .label
          line-height: 24px
          height: 24px
          color: $colorLight
          margin-right: 24px
          margin-left: 8px
      .selectric-open .selectric,
      .selectric-focus .selectric
        border-color: transparent
      .selectric .button
        height: 22px
        width: 22px
        background: transparent
        &:after
          border: 1px solid $colorLight
          width: 6px
          height: 6px
          transform: rotate(45deg)
          border-left: none
          border-top: none

  &__item
    margin-top: 30px
    border-radius: 4px
    background: $colorBg
    &-head
      padding: 20px 20px
      border-bottom: 1px solid $borderColor
      &-row
        display: flex
        margin-top: 12px

    &-bottom
      padding: 14px 20px
      display: flex
      a
        display: flex
        align-items: center
        color: $colorIcon
        transition: all 0.25s $ease
        margin-right: 50px
        &:last-child
          margin-right: 0
        &:hover
          color: #000
        .ico
          font-size: 16px
          margin-right: 8px
    &-title
      font-size: 16px
      color: #000
      line-height: 1.2
      font-weight: 700
      display: flex
      align-items: center
      .ico
        font-size: 16px
        color: $colorIcon
        margin-right: 10px
    &-body
      margin: 20px 20px 0
      padding: 20px
      background: #fff
      border-radius: 4px
      &-row
        display: flex
        align-items: center
        margin-bottom: 18px
      &-title
        margin: 0
        font-size: 14px
        font-weight: 700
      &-grid
        display: flex
        justify-content: space-between
        .ui-input
          color: #000
        .selectric-wrapper
          margin-top: 20px
        .btn
          white-space: nowrap
          color: $colorLight
          border-color: $borderColor
          margin-left: 20px
          // line-height: 1.2
          &:hover
            color: #000
            border-color: #000
      &-line
        width: calc(100% + 40px)
        height: 1px
        display: block
        background: $borderColor
        margin: 20px -20px
      &-left
        width: 49%
      &-right
        width: 49%
        textarea
          min-height: 100px

  &__answer
    margin: 0
    text-transform: uppercase
    color: $colorLight
    font-size: 14px
  &__row
    margin-top: 12px
    display: flex
  &__add
    margin-top: 30px
    a
      color: $colorPrimary
      font-size: 14px
      line-height: 1
      display: flex
      align-items: center
      .ico
        font-size: 16px
        margin-right: 10px
