
.comment-card
  &__header
    display: flex
    flex-wrap: wrap
    margin-bottom: 8px

  &__title
    margin: 0 7px 0 0
    font-weight: 700

  &__caption
    margin: 0 0 7px

  &__date
    color: $colorLight
    font-size: 12px
