
.comment-card
  margin-bottom: 24px
  padding-bottom: 24px
  border-bottom: 1px solid $borderColor

  &:last-child
    margin-bottom: 0
    padding-bottom: 0
    border-bottom: 0
  &__header
    display: flex
    flex-wrap: wrap
    margin-bottom: 8px

  &__actions
    margin-left: auto
    span
      transition: color .25s $ease
      position: relative
      cursor: pointer
      padding: 0 3px 5px
      font-weight: 700
      font-size: 14px
      letter-spacing: 1px
      color: $colorIcon
      &:hover
        color: $colorPrimary
        .action__dropdown-buttons
          opacity: 1
          pointer-events: all
          visibility: visible

  &__title
    margin: 0 7px 0 0
    font-weight: 700

  &__company
    display: inline-block
    color: $colorLight

  &__caption
    margin: 0 0 7px

  &__date
    color: $colorLight
    font-size: 12px
