mixin commentCard(obj)
  // comment card
  .comment-card
    .comment-card__header
      .comment-card__title= obj.title
      .comment-card__company= obj.company
      .comment-card__actions
        .btn
          +svgMono("dots")
          .dropdown
            .dropdown__menu
              a.dropdown__button(href="#") Изменить
              a.dropdown__button(href="#") Удалить
    p.comment-card__caption= obj.caption
    span.comment-card__date= obj.date

