.ico-mono-access-full {
  width: 0.68em;
  height: 1em;
  fill: #A0B1BB;
}
.ico-mono-access-limited {
  width: 0.68em;
  height: 1em;
  fill: #A0B1BB;
}
.ico-mono-arrow-left {
  width: 0.64em;
  height: 1em;
  fill: #8396A8;
}
.ico-mono-arrow-right {
  width: 0.64em;
  height: 1em;
  fill: #359BE3;
}
.ico-mono-company-user {
  width: 1em;
  height: 1em;
  fill: #A0B1BB;
}
.ico-mono-delete {
  width: 0.88em;
  height: 1em;
  fill: #A0B1BB;
}
.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-figure {
  width: 1.06em;
  height: 1em;
  fill: #000;
}
.ico-mono-folder {
  width: 1.27em;
  height: 1em;
  fill: #0B1C2D;
}
.ico-mono-lock {
  width: 0.82em;
  height: 1em;
  fill: #0B1C2D;
}
.ico-mono-logo {
  width: 2.73em;
  height: 1em;
  fill: #fff;
}
.ico-mono-logout {
  width: 1.18em;
  height: 1em;
  fill: #fff;
}
.ico-mono-minus {
  width: 5em;
  height: 1em;
  fill: #0B1C2D;
}
.ico-mono-plus-simple {
  width: 1em;
  height: 1em;
  fill: #0B1C2D;
}
.ico-mono-plus {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-mono-share {
  width: 0.86em;
  height: 1em;
  fill: #000;
}
.ico-mono-user-add {
  width: 1.24em;
  height: 1em;
  fill: #fff;
}
.ico-mono-visibility-private {
  width: 1.18em;
  height: 1em;
  fill: #A0B1BB;
}
.ico-mono-visibility-public {
  width: 1.43em;
  height: 1em;
  fill: #A0B1BB;
}
