.project-questions
  display: flex
  flex: 1
  &__sidebar
    max-width: 342px
    width: 100%
    border-right: 1px solid $borderColor
    padding: 40px 15px 40px 0
    &-title
      font-size: 14px
      font-weight: 700
      margin: 0
    &-item
      cursor: pointer
      padding-left: 20px
      position: relative
      display: none
      z-index: 3
      margin-left: -20px
      a
        padding: 6px 10px 6px 0
        display: inline-block
        position: relative
        &:after
          position: absolute
          left: -19px
          top: 11px
          width: 6px
          height: 6px
          border: 1px solid #A3ABC2
          display: block
          content: ''
          transform: rotate(45deg)
          border-left: none
          border-top: none
          transition: all .25s $ease
        &:before
          position: absolute
          height: 100%
          width: 200%
          right: 100%
          background: $colorBg
          content: ''
          display: block
          top: 0
          opacity: 0
        &:hover
          background: $colorBg
          border-top-right-radius: 4px
          border-bottom-right-radius: 4px
          z-index: 2
          &:before
            opacity: 1
      &:after
        position: absolute
        display: block
        height: 0
        width: 1px
        left: 4px
        top: 26px
        background: $borderColor
        content: ''
        transition: all .25s $ease
      &.main
        display: block
        margin-left: -20px
      &.error
        a
          color: #EB5757
          span.error
            display: inline-block
            width: 14px
            height: 14px
            background: url(../img/error.svg) center center no-repeat
            content: ''
            position: relative
            margin-left: 5px
            margin-bottom: -2px
          span.hint
            height: auto
            top: 50%
            transform: translateY(-50%)
            display: inline-block
            position: absolute
            left: calc(100% - 15px)
            background: $colorBg
            color: $fontColor
            padding: 10px
            max-width: 110px
            width: 110px
            font-size: 12px
            box-shadow: 0 0 5px rgba(#0B1C2D, 0.15)
            &:before
              position: absolute
              width: 8px
              height: 8px
              display: block
              content: ''
              top: 50%
              transform: translateY(-50%) rotate(45deg)
              left: -4px
              background: $colorBg
              box-shadow: 0 0 5px rgba(#0B1C2D, 0.15)
            &:after
              width: 8px
              background: $colorBg
              height: 90%
              top: 5%
              content: ''
              display: block
              position: absolute
              left: 0
      &.last
        &:after
          display: none
        a
          &:after
            display: none

      > .project-questions__sidebar-item
        padding-left: 20px
        margin-left: 0
        // border-left: 1px solid $borderColor
      &.is-open
        &:after
          height: calc(100% - 25px)
        a
          &:after
            transform: rotate(-45deg)
            top: 11px
    &-toggle
      padding-bottom: 20px
      border-bottom: 1px solid $borderColor
      margin-bottom: 30px
    &-input
      margin-bottom: 5px
      .ui-group
        label
          margin: 0
          font-size: 12px
          width: 100%
          max-width: 100%
          flex: 1
        .ui-group__content
          flex: 0
  &__content
    padding: 40px 0 30px
    width: 100%
  &__progress
    width: 100%
    max-width: 810px
    // outline: 1px solid green
    padding: 0 30px 0 0
  &__line
    width: 100%
    height: 1px
    position: relative
    &:before
      display: block
      content: ''
      position: absolute
      left: 0
      bottom: 0px
      width: 9000px
      height: 1px
      background: $borderColor
  &__point
    font-size: 14px
    font-family: $baseFont
    color: $colorPrimary
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-bottom: -4px
    width: 33px
    position: relative
    z-index: 2
    span
      width: 7px
      height: 7px
      background: #fff
      display: block
      border-radius: 50%
      border: 2px solid $colorPrimary
      margin-top: 10px
      position: relative
      z-index: 2
    &:before
      display: block
      content: ''
      position: absolute
      left: 0
      bottom: 3px
      // width: calc(100% - 10px)
      width: 100%
      height: 1px
      background: $colorPrimary
      z-index: 2
  &__title
    font-size: 18px
    font-weight: 700
    margin: 0
  &__info
    margin: 25px 0 0 0
    font-size: 14px
  &__item
    padding: 25px 30px
    max-width: 810px
    width: 100%
  &__images
    display: flex
    justify-content: space-between
    margin-top: 30px
    margin-bottom: 30px
  &__image-container
    width: 48.5%
    font-size: 0
    img
      width: 100%
  &__radio
    margin-top: 10px
  &__bottom
    margin-top: 30px
    padding-top: 30px
    text-align: right
    border-top: 1px solid $borderColor
