// AUTH
.auth.main-content__guest
  .auth__header
    a(href="homepage.html").auth__logo
      +svgMono('logo')

  .auth__body
    h1.auth__heading Восстановление пароля

    p.auth__caption Если вы забыли пароль, введите логин или электронную почту. Контрольная строка для смены пароля, а также ваши регистрационные данные, будут высланы вам по электронной почте.

    form.auth__form(action='#' js-validate-form)
      .ui-group
        label(for="login") Логин или электронная почта
        input.ui-input(type='text' name='login' required)

      button.btn.btn-primary(type="submit") Восстановить

  .auth__footer
    span Вспомнили ваш пароль?
    a.auth__link(href='sign-in.html' title='Авторизация') Авторизация
